<div id="footer-text" class="row">
	<div class="col-sm-6 copyright">
		<p>Copyright &copy; 2015 Anthem on Ashley <br>
		All Rights Reserved | Owned and * Operated by NAP</p>
	</div>
	<div class="col-sm-6">
		<img src="{{'nap-logo.png' | asset_url}}" alt="" class="img-responsive">
	</div>
</div>