<div class="social-media">
	<h4>CONNECT WITH US</h4>

	<!-- Social Icons -->
	<div class="social-icons">

		<a href="https://www.facebook.com/AnthemOnAshley" target="_blank" class="social">
			<i class="fa fa-facebook-square"></i>
		</a>
		
		<!-- <a href="https://www.youtube.com/user/AnthemOnAshley" class="social">
			<i class="fa fa-youtube"></i>
		</a>
		
		<a href="https://www.pinterest.com/AnthemOnAshley" class="social">
			<i class="fa fa-pinterest"></i>
		</a> -->

		<a href="https://instagram.com/anthemonashley/" target="_blank" class="social">
			<i class="fa fa-instagram"></i>
		</a>
		
		<a href="https://www.twitter.com/AnthemOnAshley" target="_blank" class="social">
			<i class="fa fa-twitter"></i>
		</a>

	</div>
	
	<!-- Address -->
	<address><p>
		720 Ralph McGill Blvd.<br>
		Atlanta, GA 30312
	</p></address>

</div>