{% block content %} 
	<div class="container">

		<!-- Header -->
		{% include "header" %}
		
		<!-- Content -->
		{% include "main" %}
		
		<!-- Google Map -->
		{% include "google-map" %}
		
		<!-- Footer -->
		{% include "footer" %}
	
	</div>
{% endblock %}